
<div style="width: 100%;margin: auto;padding-bottom: 60px">
  <div>
  <ul class="mod" style="padding: 10px;">
    <li style="float: left;width: 50%;text-align: left;line-height: 19px!important;" *ngFor="let list of data">
      <div>
        <div style="float: left;text-align: center;background-size: 100%; width: 50%;">
          <div style="padding: 0px 10px">
            <img src="{{img}}" style="width: 100%">
            <span style="font-size: 9px;">￥{{list.couponMoney}}</span>
          </div>
        </div>
        <div style="float: right;width: 50%;">
          <div style="padding: 5px">
            <div style="width: 100%;text-align: center">
              <div style="display: block;text-align: center;font-size: 20px;color: orangered;font-weight: 700"><span style="font-size: 9px">￥</span>{{list.couponClass}}</div>
            </div>
            <div style="font-size: 9px;text-align: center">
              <span>{{list.couponName}}</span>
            </div>
            <div style="margin-top: 10px">
              <span style="font-size: 9px;text-align: center;display: block;padding: 0px 3px;color: orangered;border-radius: 10px;border: 1px solid orangered;"  >{{list.atoncestate}}</span>
            </div>

          </div>
        </div>
      </div>
    </li>
  </ul>
  </div>

</div>

