.userinfo_backage{background-color:cornflowerblue;height: 160px; padding-top: 10px;}
.list-item-icon img{ max-width: 80px; max-height: 80px; width: 58px; height: 58px; margin: auto;}
.user-total{width: 100%;display:-webkit-box;width: 100%; text-align: center;
  color: #ffffff;}
